<!doctype HTML>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'pagestyle.css')}}">
    <title>Welcome | Super Sprinter 3000</title>
</head>
<body>
<h1>
    Super Sprinter 3000
</h1>
<p>
    Add new User Stories
</p>
<table>
<thead>
<tr >
    {% for elem in user_stories %}
        <th class = "header_name">
            {{elem}}
        </th>
    {% endfor %}
</tr>
</thead>
    <tbody>
    <tr>

    </tr>
    </tbody>
</table>
</body>
</html>